@use "../common/mixins" as *;

body {
  background-color: #e5e5e5;
}

p {
  font-size: 18px;
}
@include header-style;

@include main-style {
  @include hero-style {
    gap: 20px;

    span {
      font-weight: 700;
    }
  }

  .information-container {
    position: relative;
    width: 95%;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 0 20px 5px rgb(0, 0, 0, 0.534);
    z-index: 2;
    margin-top: -8vh;
    background-color: white;
    @include flex-center($flex-direction: column);
    @include erase-link-decoration();
    * {
      width: 750px;
    }

    a {
      color: #e91e63;
    }

    h1 {
      font-size: 47px;
      font-weight: 550;
    }
    h2 {
      font-size: 37px;
      font-weight: 550;
    }
    h3 {
      font-size: 32px;
      font-weight: 550;
    }
    h4 {
      font-size: 27px;
      font-weight: 550;
    }
    h5 {
      font-size: 23px;
      font-weight: 550;
    }
    h6 {
      font-size: 18px;
      font-weight: 550;
    }

    .description-wrapper {
      @include flex-center($flex-direction: column);
      line-height: 28px;
      padding: 80px 0 20px 0;

      &::after {
        @include line-border;
      }
    }

    .headings-wrapper {
      > * {
        margin-bottom: 50px;
      }

      &::after {
        @include line-border;
      }
    }

    .paragraph-wrapper {
      p {
        line-height: 30px;
        margin-bottom: 25px;
      }

      &::after {
        @include line-border;
      }
    }

    .list-types-wrapper {
      line-height: 70px;

      h2 {
        margin-top: 25px;
      }
      dt,
      dd {
        line-height: 25px;
      }

      dt {
        font-weight: 600;
      }

      li {
        line-height: 25px;
      }

      ol,
      ul {
        padding-left: 35px;
      }

      &::after {
        @include line-border($margin-top: 0);
      }
    }

    .forms-wrapper {
      > h2 {
        margin: 28px 0;
      }

      legend {
        font-size: 21px;
        margin: 23px 0;
      }

      p {
        line-height: 30px;
      }

      form {
        h2 {
          margin: 28px 0;
        }

        label {
          font-weight: 550;
          line-height: 50px;
          display: block;
        }

        input,
        textarea {
          border: none;
          outline: none;
        }

        textarea {
          height: 40px;
          max-width: 100%;
          resize: none;
        }

        select {
          display: block;
          width: 80px;
          height: 40px;
          appearance: none;
          padding-left: 10px;
        }

        input[type="radio"],
        input[type="checkbox"] {
          width: 14px;
          display: block;
        }

        input[type="file"] {
          display: block;
        }
        button[type="reset"] {
          display: inline;
          width: 45px;
          height: 35px;
          box-shadow: 0 1px 7px 1px #e91e62cc;
        }

        button[type="submit"] {
          display: inline;
          width: 50px;
          height: 40px;
          color: white;
          background-color: #e91e63;
          border: none;
          border-radius: 3px;
          margin-bottom: 40px;
        }
      }

      &::after {
        @include line-border;
      }
    }

    .tables-wrapper {
      margin-top: 30px;
      line-height: 40px;

      table {
        margin-top: 30px;
        font-size: 18px;

        thead {
          th {
            text-align: left;
            &::after {
              @include line-border($margin-top: 2px) {
                width: 100%;
              }
            }
          }
        }

        tbody {
          tr {
            margin: 20px 0;
          }

          .row {
            td {
              &::after {
                @include line-border($margin-top: 2px) {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      &::after {
        @include line-border($margin-top: 20px);
      }
    }

    .misc-wrapper {
      h2 {
        line-height: 70px;
      }

      p {
        line-height: 28px;
      }

      pre {
        overflow-x: auto;
        background-color: #f5f5f5;
        border-radius: 5px;
        border: 1px solid #ccc;
      }

      blockquote {
        font-size: 18px;
        padding: 30px;
        line-height: 30px;
      }
    }

    .categories-social-media-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

      .left-section-wrapper {
        display: inline;

        a {
          color: white;
          font-size: 10px;
          text-transform: uppercase;
          padding: 6px 10px;
          background-color: #e91e63;
          border-radius: 20px;
        }
      }
      .right-section-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
          width: 40px;
        }
        .facebook {
          img {
            background-color: blue;
            z-index: 3;
            width: 25px;
            height: 25px;
            padding: 3px;
            border-radius: 20px;
          }
        }

        .X {
          img {
            color: white;
            width: 25px;
            height: 25px;
            border: 1px solid black;
            padding: 2px;
            border-radius: 20px;
          }
        }

        .mail {
          i {
            color: white;
            background-color: gray;
            font-size: 20px;
            padding: 6px;
            border-radius: 20px;
            width: 20px;
          }
        }
      }
    }
    &::after {
      @include line-border($margin-top: 50px);
    }

    @media (max-width: 1330px) {
      * {
        width: 75%;
      }
    }
  }
}

.related-posts-container {
  h2 {
    margin-top: 150px;
    text-align: center;
    font-family: "Roboto Slab";
    font-size: 37px;
  }

  .content-wrapper {
    @include flex-center($align-items: flex-start);
    .posts {
      background-color: white;
      width: 300px;
      height: auto;
      margin: 95px 20px;
      padding: 30px;
      border-radius: 7px;
      box-shadow: 0 2px 1px 1px rgba(95, 94, 94, 0.534);
      @include flex-center($flex-direction: column, $align-items: flex-start);

      a {
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
      }

      h3 {
        font-family: "Roboto Slab";
        font-size: 18px;
        padding: 20px 0;
      }

      p {
        font-size: 14px;
        color: #999999;
        font-family: Arial;
        line-height: 23px;
      }
    }

    .thousand-words-wrapper {
      a {
        color: #89229b;
      }
    }

    .more-tags-wrapper {
      a {
        color: #00bcd4;
      }
    }

    .html-wrapper {
      a {
        color: #f44336;
      }
    }
  }
}

@include footer-style;
