@use "../common/mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@mixin window-adjuster() {
  @include flex-center() {
    flex-flow: column;
  }
  @content;
}

$mountain-background:
  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url("../../assets/mountain.jpg");

:root {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@include header-style;

@include main-style {
  .hero-wrapper {
    position: relative;
    z-index: 1;
    height: 95vh;
    width: 100%;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../../assets/statue.jpg"), url("../../assets/clouds.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    @include flex-center();

    .hero-content-wrapper {
      margin-top: 14%;
      color: white;
      font-size: 47px;
      position: relative;
      z-index: 2;

      @include flex-center() {
        flex-flow: column wrap;
        gap: 20px;
      }

      h1 {
        font-family: "Roboto", Helvetica, Arial, sans-serif;
      }

      p {
        font-family: "Roboto Slab";
        font-size: 30px;
        font-weight: 500;
      }

      a {
        margin-top: 80px;
        padding: 25px 40px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 300;
        text-decoration: none;
        color: white;
        font-family: Arial;
        background-color: #e91e63;
        border-radius: 10px;
      }

      @media (max-width: 840px) {
        h1 {
          font-size: 67px;
        }
      }

      @media (max-width: 609px) {
        h1 {
          font-size: 37px;
        }

        p {
          font-size: 25px;
        }
      }
    }
  }

  .information-container {
    position: relative;
    margin-top: -10vh;
    z-index: 2;
    background-color: white;
    width: 95%;
    border-radius: 10px 10px 0 0;
    text-align: center;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.534);
    min-width: 660px;

    .purpose-wrapper {
      h2 {
        padding: 70px;
        font-size: 47px;
        font-family: "Roboto Slab", serif;
      }
      .purpose-content-wrapper {
        height: 70%;
        padding: 0 20px 100px 20px;
        display: grid;
        grid-template-rows: 50%;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;

        .responsive-content-wrapper,
        .quality-content-wrapper,
        .support-content-wrapper {
          font-size: 24px;
          @include flex-center();

          p {
            width: 60%;
            color: #999999;
            font-size: 14px;
            line-height: 25px;
          }
        }

        .responsive-header-wrapper,
        .quality-header-wrapper,
        .support-header-wrapper {
          img {
            width: 85px;
            height: 60%;
          }

          h3 {
            margin: 30px 0;
            font-size: 26px;
            font-family: "Roboto Slab", serif;
          }
        }

        .responsive-header-wrapper {
          grid-column: 1;
        }

        .responsive-content-wrapper {
          grid-row: 2;
        }

        .quality-header-wrapper {
          grid-column: 2;
          grid-row: 1;
        }

        .support-header-wrapper {
          grid-column: 3;
          grid-row: 1;
        }

        @media (max-width: 1364px) {
          @include flex-center() {
            flex-flow: column wrap;
            height: auto;

            p {
              margin-bottom: 30px;
            }
          }
        }
      }
    }

    .about-wrapper {
      background-image: $mountain-background;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      @include flex-center() {
        flex-flow: row;
      }

      img {
        width: 600px;
        height: 200px;
        margin: 100px 0;
      }

      .about-content-wrapper {
        color: white;
        text-align: left;
        width: 40%;

        h2 {
          font-size: 37px;
          font-family: "Roboto Slab", "Times New Roman", serif;
          font-weight: 900;
        }

        p {
          margin-top: 30px;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 24px;
          width: 56%;
          line-height: 50px;
        }
      }

      @media (max-width: 1024px) {
        @include flex-center() {
          flex-flow: column;

          .about-content-wrapper {
            margin-top: 100px;
            p {
              width: auto;
            }
          }
        }
      }

      @media (max-width: 621px) {
        img {
          width: 400px;
        }
      }
    }

    .blog-wrapper {
      margin: 150px 0;
      h2 {
        font-size: 47px;
      }

      .blog-content-wrapper {
        margin: 100px 0;
        @include flex-center(
          $justify-content: space-around,
          $align-items: flex-start
        );

        .blog-content {
          text-align: start;
          line-height: 35px;

          h3 {
            font-family: "Roboto Slab", serif;
            font-size: 18px;
            font-weight: 700px;
          }

          h4 {
            font-size: 12px;
            font-weight: 500px;
          }
        }

        p {
          color: #999999;
        }

        .blog-1-wrapper {
          h4 {
            color: #89229b;
          }
        }

        .blog-2-wrapper {
          width: 20%;

          h4 {
            color: #00bcd4;
          }

          a {
            text-decoration: none;
            color: rgb(60, 60, 160);
          }
        }

        .blog-3-wrapper {
          h4 {
            color: #f44336;
          }
        }

        @media (max-width: 1364px) {
          @include window-adjuster() {
            .blog-content {
              text-align: center;
              line-height: 35px;
            }
            .blog-2-wrapper {
              margin: 50px 0;
              width: 50%;
            }
          }
        }
      }
    }

    .contact-wrapper {
      background-image: $mountain-background;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      text-align: left;
      padding: 175px 0 175px 25px;
      color: white;

      h2 {
        font-size: 45px;
      }

      i {
        font-size: 36px;
        padding-right: 10px;
      }

      .contact-content {
        line-height: 40px;

        h3 {
          font-size: 25px;
        }

        p {
          padding-left: 30px;
          color: #eaeaea;
        }
      }

      .location-wrapper {
        margin: 80px 0 20px 0;
        @include flex-center($align-items: flex-start) {
          flex-flow: column;
        }
      }

      @media (max-width: 630px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@include footer-style;
